@use '../../styles/mixins';
.notFound {
  padding: 30px;
  font-weight: lighter;
  font-style: italic;
  color: #00a0f7;
}

.breadcrumbList {
  padding: 0;
  margin: 32px 0 0;
  display: flex;
  font-size: 14px;

  .breadcrumbLink {
    margin-right: 10px;
    text-decoration: underline;
    color: #333;

    &:hover {
      text-decoration: none;
    }
  }

  .breadcrumbActiveLink {
    color: black;
  }
}

.titleBlock {
  text-align: center;

  :first-child {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 3rem;
    margin: 48px 0 16px;
    padding: 0 20px;

    @include mixins.md {
      margin-bottom: 25px;
    }
    @include mixins.sm {
      font-size: 40px;
      text-align: left;
    }
  }

  :last-child {
    margin: 24px 0;
    padding: 24px 0;
    background: #f6f4f0;

    @include mixins.md {
      display: none;
    }
  }
}

.formBlock {
  display: flex;
  align-items: center;
  @include mixins.sm {
    margin-bottom: 35px;
  }

  .searchSelectBlock {
    display: flex;
    align-items: center;
    flex-basis: 60%;
    z-index: 5;
    @include mixins.md {
      flex-basis: 70%;
    }
    @include mixins.sm {
      flex-basis: 100%;
    }

    .searchInput {
      align-items: center;
      position: relative;
      margin-right: 5px;
      flex-grow: 1;
    }

    .searchIcon {
      position: absolute;
      margin: 17px 10px;
      z-index: 2;
    }
  }

  .searchButton {
    font-family: inherit;
    font-size: inherit;
    padding: 15px 50px 15px 20px;
    background-color: #222;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    background-image: url('https://cdn-icons-png.flaticon.com/128/8213/8213522.png');
    background-size: 20px 20px;
    background-position: right 15px center;
    background-repeat: no-repeat;
    @include mixins.md {
      font-size: 0;
      padding: 25px 25px;
      background-position: center;
    }
  }

  .searchButton:hover {
    background-color: #333232;
  }

  .searchButton:active {
    background-color: #424242;
    transform: translateY(2px);
    box-shadow: 0 0 5px rgba(0, 1, 1, 0.5);
  }

  .filterButton {
    font-size: 20px;
    border: 1px solid #bebebe;
    background: none;
    border-radius: 0.25rem;
    padding: 0 26px;
    display: none;

    @include mixins.md {
      display: block;
    }
  }

  .filterButton:hover {
    background: #222222;
    color: white;
  }
}

.filteringBlock {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  @include mixins.sm {
    flex-direction: column;
  }

  .filteringTools {
    margin-right: 10px;
    margin-bottom: 25px;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;

    .selectBox {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    .sortLabel {
      margin-bottom: 8px;
      font-size: 12px;
    }

    .sortInput {
      margin-bottom: 35px;
      flex-grow: 1;
      border: none;
      border-bottom: 1px solid #ddd;
      padding: 8px;
      font-size: 14px;
    }

    .travelDates {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .datepicker {
        display: flex;
        flex-direction: column;

        .datepickerInput {
          width: 100%;
          border: none;
          border-bottom: 1px solid #ddd;
          padding: 8px;
          font-size: 14px;
        }
      }

      .datepickerLabel {
        font-size: 12px;
        color: #333333;
      }
    }

    .duration {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .durationInner {
        display: flex;
        align-items: center;

        .durationPicker {
          display: flex;
          flex-direction: column;

          .durationLabel {
            font-size: 12px;
            color: #333333;
          }
        }

        .spanDuration {
          margin: 0 5px;
        }
      }
    }
  }

  .tourCards {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 75%;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    @include mixins.sm {
      flex-basis: 100%;
    }
  }
}

.clearButton {
  position: absolute;
  top: 32px;
  right: 0;
  align-self: flex-end;
  margin: 5px 0 5px auto;
}

.resetDatesButton {
  margin: 5px 0 5px auto;
}

.resetDuration {
  margin: 5px 0 5px auto;
}

.additionalClass {
  padding: 5px 15px;
  border-radius: 5px;
  background: none;
  border: 2px solid #333333;
}

.additionalClass:hover {
  background: #333333;
  color: white;
}
