@use '../../styles/mixins';

.aboutUs {
  &__content {
    background-image: url('../../assets/icon/about-us/about_us_banner.png');
    width: 100%;
    min-height: calc(100vh - 87px);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    vertical-align: middle;
    object-position: right;
    color: #ffffff;
    text-align: left;
    display: inline-block;
    align-items: center;
    padding: 0 20px;
    position: relative;

    @include mixins.sm {
      min-height: 75vh;
    }
  }
}

.text {
  text-align: left;
  padding-top: 390px;
  padding-left: 80px;

  @include mixins.sm {
    padding-top: 40vh;
    padding-left: 25px;
  }

  &__title {
    position: relative;
    z-index: 50;
    word-wrap: break-word;
    margin: 0;
    line-height: 66px;
    text-transform: none;
    text-decoration: none;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 3px;

    @include mixins.sm {
      font-size: 40px;
    }
  }

  &__title::before {
    content: '';
    background: url('../../assets/icon/Icon-i.svg') no-repeat;
    line-height: 1em;
    width: 65px;
    height: 65px;
    position: absolute;
    left: -90px;
    right: 0;
    top: 20px;
    bottom: 0;

    @include mixins.sm {
      width: 35px;
      height: 35px;
      left: -45px;
      background-size: contain;
    }
  }

  &__subtitle {
    position: relative;
    z-index: 50;
    margin: 20px 0 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;

    @include mixins.sm {
      margin: 0;
    }
  }
}

.middleBlock {
  &__title {
    padding-left: 80px;
    margin: 53px 0 43px 0;
    position: relative;
    color: #00266d;
    font-size: 60px;
    font-style: normal;
    font-weight: 100;
    line-height: 66px;
    letter-spacing: 3px;

    @include mixins.sm {
      font-size: 40px;
      line-height: 42px;
      padding-left: 50px;
    }
  }

  &__title::before {
    content: '';
    background: url('../../assets/icon/i-mission.svg') no-repeat;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    line-height: 1em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    @include mixins.sm {
      width: 35px;
      height: 35px;
      background-size: contain;
    }
  }

  &__text {
    color: #000;
    font-size: 17.385px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 74px;
  }
}

.valueBlock {
  background: #20212d;
}

.block {
  color: #fff;

  &__title {
    color: #fff;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 3px;
    padding: 50px 0 103px 0;

    @include mixins.sm {
      font-size: 40px;
      line-height: 42px;
      letter-spacing: 0;
      text-align: center;
    }
  }

  &__boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;

    &_box {
      flex: 1;
      max-width: 400px;
      padding: 0 10px;

      @include mixins.xl {
        flex: none;
      }

      @include mixins.md {
        margin-bottom: 50px;
      }
    }

    &_img {
      margin-bottom: 33px;
    }

    &_subTitle {
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    &_text {
      font-size: 13.125px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-bottom: 85px;

      @include mixins.sm {
        margin-bottom: 30px;
      }
    }
  }
}

.countsBlock {
  position: relative;
  background-image: url('../../assets/icon/about-us/about_us_counter_bg.png');
  padding: 135px 42.22px 90px 42.22px;
  background-position: center bottom;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include mixins.md {
    justify-content: space-around;
  }

  &__card {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;

    &__title {
      margin-top: 10px;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    &__counter {
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: lighter;
      line-height: 36px;
    }
  }
}

.partnersBlock {
  text-align: center;

  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 62px 0 142px 0;

    @include mixins.sm {
      margin-bottom: 70px;
    }
  }

  &__title {
    color: #454545;
    text-align: center;
    font-size: 37px;
    font-style: normal;
    font-weight: 500;
    line-height: 40.7px;
    text-transform: capitalize;
    margin: 138px 0 27px 0;
  }

  &__text {
    color: #727272;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }

  &__partner {
    width: 200px;
    height: 115px;
    flex-shrink: 0;
    margin: 0 20px 20px 0;
    background: #faf7f7 0 0 / 100% 100% no-repeat;
    display: flex;
  }

  &__img {
    margin: auto;
    object-fit: contain;
  }
}

.awardsBlock {
  text-align: center;
  color: #00266d;
  --effect-scale: 1.1;
  background-color: #f2f2f2;
  padding: 60px 0 60px;

  @include mixins.sm {
    padding: 30px 0 30px;
  }

  &__title {
    font-size: 60px;
    font-weight: 500;
    margin: 60px auto 100px;
    word-wrap: break-word;

    @include mixins.sm {
      font-size: 40px;
      line-height: 42px;
      margin: 30px auto 30px;
    }
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__card {
    flex-shrink: 0;
    width: 200px;
    height: 130px;
  }

  &__img {
    flex-shrink: 0;
    object-fit: contain;
    width: 200px;
    height: 115px;
    text-align: center;
  }
}

.contactsBlock {
  padding: 94px 0 40px;
  background: #20212d;
  color: #fff;

  &__card {
    margin: 0 40px 60px 0;
    //flex: 1;
    //flex-basis: 230px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-right: 20px;

    @include mixins.sm {
      text-align: center;
      justify-content: space-around;
    }
  }

  &__title {
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
  }

  &__text {
    margin: 23px 0 23px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
}
