@mixin sm {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin xxl {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin underline-animation($underline-color, $height, $bottom) {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: $bottom;
    width: 100%;
    height: $height;
    background-color: $underline-color;
    transform: scalex(0);
    transition: transform 0.4s ease-in-out 0s;
  }
  &:focus {
    outline: 0;
  }
  &:hover,
  &:focus {
    &:before {
      transform: scalex(1);
      transition: transform 0.4s ease-in-out 0s;
    }
  }
}
