@use '../../styles/mixins';

.header {
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 0;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;

  @include mixins.lg {
    height: 56px;
  }
}

.headerContainer {
  padding: 0 15px;
  position: relative;
}

.headerTopLink {
  margin: 0 10px;
  color: #222222;
}

.headerTopLinks {
  margin: 0 10px;
  color: #222222;
  display: none;

  @include mixins.lg {
    display: block;
  }
}

@mixin underline-animation($underline-color, $height, $bottom) {
  &:before {
    content: '';
    position: absolute;
    bottom: $bottom;
    width: 100%;
    height: $height;
    background-color: $underline-color;
    transform: scalex(0);
    transition: transform 0.4s ease-in-out 0s;
  }
  &:focus {
    outline: 0;
  }
  &:hover,
  &:focus,
  &.active {
    &:before {
      transform: scalex(1);
      transition: transform 0.4s ease-in-out 0s;
    }
  }
}

.headerLink {
  text-align: center;
  cursor: pointer;
  margin: 0 25px;
  color: #222222;
  position: relative;
  font-size: 16px;
  height: 24px;
  @include underline-animation(red, 2px, -3px);

  @include mixins.xl {
    display: block;
  }

  @include mixins.lg {
    margin: 15px 0 10px 16px;
    font-weight: 400;
    @include underline-animation(none, 0, 0);
  }
}

.headerButton {
  cursor: pointer;
  color: #222222;
  font-size: 16px;
  height: 24px;
  border: none;
  background: none;
}

.largeScreenLinks {
  padding-top: 30px;

  @include mixins.lg {
    display: none;
  }
}

.headerTop {
  display: flex;
  align-items: center;
}

.headerBottom {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-evenly;

  @include mixins.lg {
    margin-top: -54px;
    display: block;
  }
}

.links {
  margin-left: auto;
  padding-top: 15px;
  display: none;

  //@include mixins.xl {
  //  display: inherit;
  //}

  @include mixins.lg {
    display: flex;
  }
}

.linksBottom {
  padding-top: 30px;
  display: flex;
  align-items: center;
  font-size: 16px;

  @include mixins.lg {
    display: none;
  }
}

.logo {
  @include mixins.lg {
    width: 100px;
    height: 24px;
  }
}

.headerImg {
  margin-bottom: -7px;
  margin-right: 5px;

  @include mixins.lg {
    display: block;
  }
}

.burgerMenu {
  margin-top: 2px;
  display: none;
  flex-direction: column;
  cursor: pointer;

  @include mixins.lg {
    display: flex;
  }
}

.burgerMenu.open {
  display: flex;
}

.closeButton {
  font-weight: 600;
  cursor: pointer;
  margin: 20px 0 31px 236px;
}

.burgerMenu .bar {
  background-color: #222222;
  height: 2px;
  width: 18px;
  margin: 2px 0;
}

.linksResponsive {
  background: #ffffff;
  position: fixed;
  top: 0;
  right: -272px;
  width: 272px;
  height: 100%;
  transition: right 0.3s ease-in-out;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.linksResponsive.open {
  right: 0;
}

.topText {
  @include mixins.lg {
    display: none;
  }
}

.linksBottom {
  position: relative;
}

.destination__wrapper {
  margin: 0 25px 0 0;
  position: relative;
}

.destinations {
  cursor: pointer;
  position: relative;

  &__image {
    background: url('../../assets/toolbar/toolbarNextImage.svg') no-repeat;
    position: absolute;
    width: 6px;
    height: 10px;
    right: -13px;
    top: 8px;

    transform: rotate(90deg);

    @include mixins.lg {
      top: 8px;
      right: 26%;
    }

    &__active {
      rotate: 180deg;
    }
  }
}

.dropdown {
  position: absolute;
  width: 150px;
  height: auto;
  background-color: #fff;
  left: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 15px;
  animation-name: dropdown-animation;
  animation-duration: 0.7s;
  text-align: center;

  &__link {
    display: block;
    height: auto;
    width: 100%;
    padding: 5px;

    &:hover {
      background-color: rgba(190, 190, 190, 0.27);
      transition: background-color 0.3s;
    }
  }

  &__burger {
    position: static;
    width: 100%;
  }
}

@keyframes dropdown-animation {
  0% {
    margin-top: -10px;
    transition: 1s;
    transform-origin: top;
    transform: scaleY(0) translateY(-60%);
    opacity: 0;
  }
  100% {
    transform: scaleY(1) translateY(0%);
    opacity: 1;
  }
}
