@use '../../styles/mixins';

.header {
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 0;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;

  @include mixins.lg {
    height: 56px;
  }
}

.headerContainer {
  padding: 0 15px;
  position: relative;
}

.headerTopLink {
  margin: 0 10px;
  color: #222222;
}

.headerTopLinks {
  margin: 0 10px;
  color: #222222;
  display: none;

  @include mixins.lg {
    display: block;
  }
}

.headerLink {
  margin: 0 25px;
  color: #222222;
  font-size: 16px;
  height: 24px;

  @include mixins.xl {
    display: block;
  }

  @include mixins.lg {
    margin: 15px 0 10px 16px;
    font-weight: 400;
  }
}

.headerButton {
  cursor: pointer;
  color: #222222;
  font-size: 16px;
  height: 24px;
  border: none;
  background: none;
}

.largeScreenLinks {
  padding-top: 30px;

  @include mixins.lg {
    display: none;
  }
}

.headerTop {
  display: flex;
  align-items: center;
}

.headerBottom {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-evenly;

  @include mixins.xl {
    margin-top: -20px;
  }

  @include mixins.lg {
    margin-top: -54px;
    display: block;
  }
}

.links {
  margin-left: auto;
  padding-top: 15px;
  display: none;

  //@include mixins.xl {
  //  display: inherit;
  //}

  @include mixins.lg {
    display: flex;
  }
}

.linksBottom {
  padding-top: 30px;
  display: flex;
  align-items: center;
  font-size: 16px;

  @include mixins.lg {
    display: none;
  }
}

.logo {
  @include mixins.lg {
    width: 100px;
    height: 24px;
  }
}

.headerImg {
  margin-bottom: -7px;
  margin-right: 5px;

  @include mixins.lg {
    display: block;
  }
}

.burgerMenu {
  margin-top: 2px;
  display: none;
  flex-direction: column;
  cursor: pointer;

  @include mixins.lg {
    display: flex;
  }
}

.burgerMenu.open {
  display: flex;
}

.closeButton {
  font-weight: 600;
  cursor: pointer;
  margin: 20px 0 31px 236px;
}

.burgerMenu .bar {
  background-color: #222222;
  height: 2px;
  width: 18px;
  margin: 2px 0;
}

.linksResponsive {
  background: #ffffff;
  position: fixed;
  top: 0;
  right: -272px;
  width: 272px;
  height: 100%;
  transition: right 0.3s ease-in-out;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.linksResponsive.open {
  right: 0;
}

.topText {
  @include mixins.lg {
    display: none;
  }
}

.linksBottom {
  position: relative;
}

.destination__wrapper {
  margin: 0 25px 0 0;
  position: relative;
}

.destinations {
  position: relative;
  width: 115px;
  cursor: pointer;
  margin: 0;

  &__image {
    position: absolute;
    background-image: url('../../assets/toolbar/toolbarNextImage.svg');
    background-size: cover;
    width: 6px;
    height: 10px;
    right: 0;
    top: 8px;

    transform: rotate(90deg);

    @include mixins.xxl {
      top: 8px;
    }
    @include mixins.xl {
      top: 8px;
    }
    @include mixins.xl {
      top: 8px;
    }

    &__active {
      top: 6px;
      rotate: 180deg;
    }

    &__burger {
      top: 146px;
      left: 128px;
    }
  }
}

.dropdown {
  position: absolute;
  width: 150px;
  height: auto;
  background-color: #fff;
  left: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 15px;
  animation-name: dropdown-animation;
  animation-duration: 0.7s;

  &__link {
    display: block;
    height: auto;
    width: 100%;
    padding: 5px 0 5px 25px;

    &:hover {
      background-color: #bebebe;
      transition: background-color 0.3s;
    }
  }

  &__burger {
    position: static;
  }
}

@keyframes dropdown-animation {
  0% {
    margin-top: -10px;
    transition: 1s;
    transform-origin: top;
    transform: scaleY(0) translateY(-60%);
    opacity: 0;
  }
  100% {
    transform: scaleY(1) translateY(0%);
    opacity: 1;
  }
}
