.login {
  position: relative;

  &__backdrop {
    position: absolute;
    opacity: 0.3;
    background: #000;
    width: 100%;
    height: 100%;
  }

  &__mainBlockContainer {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 1150px;
    padding: 20px;

    button {
      display: flex;
      width: 349.98px;
      height: 50px;
      padding: 15.75px 0px 16.25px 0px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 40px;
      border: 1px solid #FBCEB5;
      background: #FBCEB5;
    }
  }

  &__mainBlockImage {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    vertical-align: middle;
    object-position: right;
  }

  &__title {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 24px;
  }

  &__form_control {
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    margin-bottom: 16px;

    input {
      color: rgba(255, 255, 255, 0.80);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border: none;
      outline: none;
      background: rgba(255, 255, 255, 0.08);
      border-radius: 40px;
      padding: 15.5px 21px;
      width: 100%;
      height: 50px;
    }

    input::placeholder {
      color: rgba(255, 255, 255, 0.80);
    }

  }
}