@use '../../styles/mixins';

.articlesBanner {
 position: relative;
  text-align: center;
&__bacdrop {
  height: 550px;
  width: 100%;
  background-color: #000;
  opacity: 0.35;
  position: absolute;
}
  &__image {
    height: 550px;
    width: 100%;
    &__big {
      display: block;
      @include mixins.xl {
        display: none;
      }
    }
    &__small {
      display: none;
      @include mixins.xl {
        display: block;
      }
      @include mixins.sm {
        height: 290px;
      }
    }
  }
  &__title {
    font-weight: 600;
    font-size: 80px;
    color: #fff;
    position: absolute;
    top: 40%;
    line-height: 80px;
    left: 30%;
    @include mixins.xl {
      left: 20%;
    }
    @include mixins.lg {
      font-size: 50px;
    }
    @include mixins.md {
      left: 10%;
    }
    @include mixins.md {
      left: 5%;
    }
  }
}

.articleCardContainer {
  margin-top: 91px;
  gap: 10px;
}

.articleCardBtn {
  cursor: pointer;
  border: none;
  background-color: inherit;
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 1px;
  margin-top: 52px;
  margin-bottom: 150px;
  @include mixins.md {
    margin-top: 38px;
    margin-bottom: 50px;
  }
}

.articleCard {
  width: 350px;
  height: 506px;
  overflow: hidden;
  &__image {
    &__content {
      width: 374px;
      height: auto;
    }
  }
  &__content{
    &__title{
      color: #313131;
      font-size: 18px;
      font-weight: 600;
      line-height: 25.2px;
      margin-bottom: 30px;
      margin-top: 25px;
    }
    &__text {
      color: #222;
      font-size: 16px;
      font-weight: 400;
      line-height: 28.8px;
    }
  }
}