@use '../../styles/mixins';

.tour_page {


  .tour_container {
    max-width: 860px;
    padding: 70px 60px;
    width: 100%;
    background: #fff;

    @include mixins.md {
      padding: 20px;
    }


  }

  .banner {
    height: 100vh;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 90px;
  }


  .gallery_placeholder {
    height: 300px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 90px;
  }

  background: #F7F7F7;
}