@use '../../styles/mixins';

.tour_page {
  .parentContainer {
    padding: 40px 0;
    display: flex;

    @include mixins.lg {
      flex-direction: column;
      padding-bottom: 80px;
    }

    .tour_container {
      flex-grow: 1;
      flex-basis: 70%;
      padding: 70px 60px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px rgba(0, 0, 0, 0.2);

      @include mixins.md {
        padding: 20px;
      }
    }
  }

  background: #f7f7f7;
}
