@use '../../app/styles/mixins';
@use '../../app/styles/variabels';

.modal {
  max-width: 600px;
  width: 100%;
  background: variabels.$color-white;
  padding: 48px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;

  &__heading {
    position: relative;
    margin-bottom: 32px;
  }

  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    input,
    select {
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      border-width: 0 0 1px 0;
      border-color: variabels.$color-black-2;
      width: 100%;
      padding: 5px 0;
      height: 40px;
      outline: none;
    }
  }

  .backdrop {
    background: rgba(0, 0, 0, .55);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }

  .backdrop.open {
    display: block;
  }


  @include mixins.md {
    padding: 24px 16px 16px;
  }
}