@use '../../app/styles/mixins';

.main-block {
  position: relative;

  .main-block-image {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    overflow: hidden;
    vertical-align: middle;
    object-position: right;
  }

  .main-block-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 1150px;
    padding: 20px;
    @include mixins.xxl {
      transform: translate(-70%, -50%);
    }
    @include mixins.xl {
      transform: translate(-60%, -50%);
    }
    @include mixins.lg {
      transform: translate(-50%, -50%);
    }
    @include mixins.md {
      width: 80%;
      transform: translate(-60%, -10%);
    }
    @include mixins.sm {
      width: 90%;
      transform: translate(-55%, -10%);
    }

    .main-block-header {
      text-transform: capitalize;
      font-weight: bold;
      margin-bottom: 30px;
      color: white;
      font-size: 45px;
      line-height: 40px;
      @include mixins.sm {
        font-size: 35px;
      }
    }

    .form-block {
      display: flex;
      justify-content: center;
      align-items: center;
      @include mixins.md {
        flex-direction: column;
        align-items: flex-start;
      }
      @include mixins.sm {
        margin-bottom: 35px;
      }

      .search-select-block {
        z-index: 5;
        width: 100%;
        @include mixins.sm {
          width: 100%;
        }
      }

      .search-input {
        position: relative;
        width: 350px;
        margin-right: 5px;
        @include mixins.md {
          margin-right: 0;
          margin-bottom: 5px;
          width: 100%;
        }
      }

      .search-icon {
        position: absolute;
        margin: 17px 10px;
        z-index: 2;
      }

      .datepicker-and-button {
        display: flex;


        .datepicker {
          margin-right: 5px;
          .calendar-icon {
            position: absolute;
            margin: 17px 10px;
            z-index: 2;
          }

          .date-input {
            position: relative;
            font-size: 16px;
            font-family: inherit;
            appearance: none;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 17px 30px 17px 35px;
            outline: none;
            width: 170px;
            @include mixins.md {
              width: 100%;
            }
            .date-input:focus {
              border-color: #007bff;
              box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }
          }
        }

        .main-block-search-button {
          font-family: inherit;
          font-size: inherit;
          padding: 10px 50px 10px 20px;
          background-color: #eb0000;
          border-radius: 5px;
          color: #fff;
          border: none;
          cursor: pointer;
          background-image: url('https://cdn-icons-png.flaticon.com/128/8213/8213522.png');
          background-size: 20px 20px;
          background-position: right 15px center;
          background-repeat: no-repeat;

          @include mixins.sm {
            font-size: 0;
            padding: 10px 30px 10px 30px;
            background-position: center;
          }

          .main-block-search-button:hover {
            background-color: #bd0202;
          }

          .main-block-search-button:active {
            background-color: #940101;
            transform: translateY(2px);
            box-shadow: 0 0 5px rgba(148, 1, 1, 0.5);
          }
        }
      }

    }
  }

  @include mixins.md {
    .container {
      padding: 10px;
    }
  }
}