@use '../../../styles/mixins';

.blog {
  width: 33%;
  border: 1px solid #bebebe;
  padding: 25px 18px;
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: #bebebe;
  }

  @include mixins.md {
    width: 48%;
  }

  @include mixins.sm {
    width: 100%;
  }

  &_date {
    font-weight: 700;
    font-size: 12px;
    color: #0000008c;
  }

  &_text {
    font-weight: 700;
    font-size: 16px;
    color: #000000db;
    margin-bottom: 25px;
    line-height: 24px;
  }

  &_subtext {
    font-weight: 400;
    font-size: 12px;
    color: #0000008c;
    margin-top: auto;
  }
}

.blogs {
  padding: 60px 22px;

  &_title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #000000db;
    text-transform: uppercase;
  }

  &_cards {
    display: flex;
    gap: 20px;

    @include mixins.md {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}
