@use '../../../styles/mixins';

.blog {
  width: 33%;
  border: 1px solid #bebebe;
  padding: 25px 18px;
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &_link {
    display: flex;
    flex-direction: column;
  }

  &:hover {
    transform: scale(1.05);
  }

  @include mixins.md {
    width: 48%;
  }

  @include mixins.sm {
    width: 100%;
  }

  &_date {
    font-weight: 700;
    font-size: 12px;
    color: #0000008c;
  }

  &_text {
    font-weight: 700;
    font-size: 16px;
    color: #000000db;
    margin-bottom: 25px;
    line-height: 24px;
  }

  &_subtext {
    font-weight: 400;
    font-size: 12px;
    color: #0000008c;
    margin-top: auto;
    display: block;
    max-width: 125px;
    background-image: url('../../../assets/icon/icon-arrow-grey.svg');
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.blogs {
  padding: 60px 22px;

  &_title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #000000db;
    text-transform: uppercase;
    background-image: url('../../../assets/icon/icon-arrow-black.svg');
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    max-width: 390px;

    &:hover {
      color: #818181;
      background-image: url('../../../assets/icon/icon-arrow-grey.svg');
    }

    @include mixins.sm {
      max-width: 250px;
      background-position: right 105px bottom 5px;
    }
  }

  &_cards {
    display: flex;
    gap: 20px;

    @include mixins.md {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}
