@use '../../../styles/mixins';

.blog {
  width: 33%;
  border: 1px solid #bebebe;
  padding: 25px 18px;
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &_link {
    display: flex;
    flex-direction: column;
  }

  &:hover {
    transform: scale(1.05);
  }

  @include mixins.md {
    width: 48%;
  }

  @include mixins.sm {
    width: 100%;
  }

  &_date {
    font-weight: 700;
    font-size: 12px;
    color: #0000008c;
  }

  &_text {
    font-weight: 700;
    font-size: 16px;
    color: #000000db;
    margin-bottom: 25px;
    line-height: 24px;
  }

  &_subtext {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    color: #0000008c;
    margin-top: auto;
    display: block;
    cursor: pointer;

    &::after {
      content: '';
      background-image: url('../../../../public/assets/icon/icon-arrow-grey.svg');
      background-position: right top 2px;
      background-repeat: no-repeat;
      background-size: contain;
      width: 12px;
      height: 12px;
      display: inline-block;
    }
  }
}

.blogs {
  padding: 60px 22px;

  &_title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #000000db;
    text-transform: uppercase;
    cursor: pointer;
    width: max-content;

    &:after {
      content: '';
      background-image: url('../../../../public/assets/icon/icon-arrow-black.svg');
      background-position: right top 2px;
      background-repeat: no-repeat;
      background-size: contain;
      width: 16px;
      height: 16px;
      display: inline-block;
    }

    &:hover {
      color: #818181;

      &:after {
        background-image: url('../../../../public/assets/icon/icon-arrow-grey.svg');
      }
    }

    @media (max-width: 470px) {
      width: fit-content;
      max-width: 300px;
    }
  }

  &_cards {
    display: flex;
    gap: 20px;

    @include mixins.md {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}
