.header {
    height: 7rem;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, .14);
    margin-bottom: 15px;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

.container {
    padding: 0 15px;
}

.header-top-link {
    margin: 0 10px;
    color: #222222;
}

.header-link {
    display: none;
    margin: 0 25px;
    color: #222222;
    font-size: 16px;
    font-weight: 500;
}

.header-link-large {
    margin: 0 25px;
    color: #222222;
    font-size: 16px;
}

.largeScreen-links {
    margin-left: 100px;
}

.header-top {
    display: flex;
    align-items: center;
}

.header-bottom {
    display: flex;
    align-items: center;
}

.links {
    margin-left: auto;
    padding-top: 15px;
    display: none;
}

.links-bottom {
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 65px;
}

.logo-small {
    display: none;
}

.header-img {
    margin-bottom: -7px;
    margin-right: 5px;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu.open {
    display: flex;
}

.close-button {
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0 31px 236px;
}

.burger-menu .bar {
    background-color: #222222;
    height: 2px;
    width: 18px;
    margin: 2px 0;
}

.links-responsive {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
}

.links-responsive.open {
    transform: translateX(0);
    width: 272px;
    position: fixed;
}

.backdrop {
    background: rgba(0, 0, 0, .55);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.backdrop.open {
    display: block;
}

@media screen and (max-width: 960px) {

    .header {
        height: 56px;
    }

    .burger-menu {
        display: flex;
    }

    .header-link {
        margin: 5px 0;
        padding: 15px 0 10px 16px;
    }

    .header-link:hover {
        background-color: #f0f1f4;
    }

    .links-bottom {
        display: none;
    }

    .top-text {
        display: none;
    }

    .header-img {
        display: block;
    }

    .links {
        display: flex;
    }

    .logo {
        display: none;
    }

    .logo-small {
        display: block;
        padding-top: 20px;
    }

    .header-link {
        font-weight: 400;
    }
}

@media screen and (max-width: 1200px) {
    .header-bottom {
        margin-top: -20px;
    }

    .links {
        display: inherit;
    }

    .largeScreen-links {
        display: none;
    }

    .header-link-large {
      display: none;
    }

    .header-link {
        display: block;
    }
}
