.mainBlock {
  position: relative;
}
.mainBlock .mainBlockImage {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  vertical-align: middle;
  object-position: right;
}
.mainBlock .mainBlockContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 1150px;
  padding: 20px;
}
@media screen and (max-width: 1400px) {
  .mainBlock .mainBlockContainer {
    transform: translate(-70%, -50%);
  }
}
@media screen and (max-width: 1200px) {
  .mainBlock .mainBlockContainer {
    transform: translate(-60%, -50%);
  }
}
@media screen and (max-width: 992px) {
  .mainBlock .mainBlockContainer {
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 768px) {
  .mainBlock .mainBlockContainer {
    width: 80%;
    transform: translate(-60%, -10%);
  }
}
@media screen and (max-width: 576px) {
  .mainBlock .mainBlockContainer {
    width: 90%;
    transform: translate(-55%, -30%);
  }
}
.mainBlock .mainBlockContainer .mainBlockHeader {
  text-transform: capitalize;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 32px;
  max-width: 500px;
  color: white;
  font-size: 64px;
  line-height: 64px;
}
@media screen and (max-width: 992px) {
  .mainBlock .mainBlockContainer .mainBlockHeader {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .mainBlock .mainBlockContainer .mainBlockHeader {
    width: 100%;
    margin-bottom: 15px;
    font-size: 48px;
  }
}
@media screen and (max-width: 576px) {
  .mainBlock .mainBlockContainer .mainBlockHeader {
    width: 100%;
    margin-bottom: 15px;
    font-size: 40px;
  }
}
.mainBlock .mainBlockContainer .formBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .mainBlock .mainBlockContainer .formBlock {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 576px) {
  .mainBlock .mainBlockContainer .formBlock {
    margin-bottom: 35px;
  }
}
.mainBlock .mainBlockContainer .formBlock .searchSelectBlock {
  z-index: 5;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .mainBlock .mainBlockContainer .formBlock .searchSelectBlock {
    width: 100%;
  }
}
.mainBlock .mainBlockContainer .formBlock .searchInput {
  position: relative;
  width: 350px;
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  .mainBlock .mainBlockContainer .formBlock .searchInput {
    margin-right: 0;
    margin-bottom: 5px;
    width: 100%;
  }
}
.mainBlock .mainBlockContainer .formBlock .searchIcon {
  position: absolute;
  margin: 17px 10px;
  z-index: 2;
}
.mainBlock .mainBlockContainer .formBlock .datepickerAndButton {
  display: flex;
  justify-content: space-between;
}
.mainBlock .mainBlockContainer .formBlock .datepickerAndButton .datepicker {
  display: flex;
  align-items: center;
}
.mainBlock .mainBlockContainer .formBlock .datepickerAndButton .datepicker .searchInputCategory {
  position: relative;
  margin-right: 5px;
  width: 250px;
}
@media screen and (max-width: 576px) {
  .mainBlock .mainBlockContainer .formBlock .datepickerAndButton .datepicker .searchInputCategory {
    margin-right: 2px;
  }
}
.mainBlock .mainBlockContainer .formBlock .datepickerAndButton .datepicker .bicycleIcon {
  position: absolute;
  margin: 17px 10px;
  z-index: 2;
}
.mainBlock .mainBlockContainer .formBlock .datepickerAndButton .mainBlockSearchButton {
  font-family: inherit;
  font-size: inherit;
  padding: 10px 50px 10px 20px;
  background-color: #eb0000;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-image: url('https://cdn-icons-png.flaticon.com/128/8213/8213522.png');
  background-size: 20px 20px;
  background-position: right 15px center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 576px) {
  .mainBlock .mainBlockContainer .formBlock .datepickerAndButton .mainBlockSearchButton {
    font-size: 0;
    padding: 10px 30px 10px 30px;
    background-position: center;
  }
}
.mainBlock
  .mainBlockContainer
  .formBlock
  .datepickerAndButton
  .mainBlockSearchButton
  .mainBlockSearchButton:hover {
  background-color: #bd0202;
}
.mainBlock
  .mainBlockContainer
  .formBlock
  .datepickerAndButton
  .mainBlockSearchButton
  .mainBlockSearchButton:active {
  background-color: #940101;
  transform: translateY(2px);
  box-shadow: 0 0 5px rgba(148, 1, 1, 0.5);
}
@media screen and (max-width: 768px) {
  .mainBlock .container {
    padding: 10px;
  }
}

/*# sourceMappingURL=HeroSection.module.css.map */
